* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #23242b;
    color: #fff;
}
.u-name{
    font-size: 20px;
    padding-left: 17px;
}
.u-name b {
    color: #127b8e;
}
.header i {
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}
.header i:hover{
    color: #127b8e;
}