* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #23242b;
    color: #fff;
}
.u-name{
    font-size: 20px;
    padding-left: 17px;
}
.u-name b {
    color: #127b8e;
}
.header i {
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}
.header i:hover{
    color: #127b8e;
}
.user-p {
    text-align: center;
    padding-left: 10px;
    padding-top: 25px;
}
.user-p img{
    width: 100px;
    border-radius: 50%;
}
.user-p h4{
    color: #ccc;
    padding: 5px 0;
}
.side-bar{
    width: 250px;
    background-color: #262931;
    min-height: 100vh;
}
.body{
    display: flex;
}
.section-1{
    width: 100%;
    background: url("img/bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-1 h1{
    color: #fff;
    font-size: 60px;
}
.section-1 p{
    color: #127b8e;
    font-size: 20px;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
}
